<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welocme|Details page</title>
</head>
<body>
<form action="/submit" method="post">

Name:<input type="text" name="name" id="name">
Age:<input type="number" name="age" id="age"><br><br>
Sex:male-->1 and female-->0<br>
<input type="number" name="sex" id="sex"><br><br>
Cp:0,1,2,3<br>
<input type="number" name="cp" id="cp"><br><br>
Trtbps:<input type="number" name="trtbps" id="trtbps"><br><br>
Chal:<input type="number" name="chal" id="chal"><br><br>
Fabs:0,1<br>
<input type="number" name="fabs" id="fabs"><br><br>
Restecg:0,1<br>
<input type="number" name="restecg" id="restecg"><br><br>
Thalachh:<input type="number" name="thalachh" id="thalachh"><br><br>
Exng:0,1<br>
<input type="number" name="exng" id="exng"><br><br>
Oldpeak:<input type="text" name="oldpeak" id="oldpeak"><br><br>
Slp:0,1,2<br>
<input type="number" name="slp" id="slp"><br><br>
Cao:0,2<br>
<input type="number" name="cao" id="cao"><br><br>
Thall:1,2,3<br>
<input type="number" name="thall" id="thall"><br><br>
<input type="image" name="img" id="img">

<input type="submit" value="submit">
<input type="reset" value="reset">

</form>

</body>
</html>